@font-face {
    font-family: 'PDFinTextPro-Bold';
    src:  url('#{$aws_url}fonts/PFDinTextPro-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'PDFinTextPro-ExtraBlack';
    src:  url('#{$aws_url}fonts/PFDinTextPro-ExtraBlack.ttf') format("truetype");
}

@font-face {
    font-family: 'PDFinTextPro-Light';
    src:  url('#{$aws_url}fonts/PFDinTextPro-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'PDFinTextPro-LightItalic';
    src:  url('#{$aws_url}fonts/PFDinTextPro-LightItalic.ttf') format("truetype");
}

@font-face {
    font-family: 'PDFinTextPro-Medium';
    src:  url('#{$aws_url}fonts/PFDinTextPro-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'PDFinTextPro-Regular';
    src:  url('#{$aws_url}fonts/PFDinTextPro-Regular.ttf') format("truetype");
}

// @font-face {
//     font-family: 'PDFinTextPro-BoldItalic';
//     src:  url('#{$aws_url}fonts/PFDinTextPro-BoldItalic.ttf') format("truetype");
// }

// @font-face {
//     font-family: 'PDFinTextPro-ExtraBlackItalic';
//     src:  url('#{$aws_url}fonts/PFDinTextPro-ExtraBlackItalic.ttf') format("truetype");
// }

// @font-face {
//     font-family: 'PDFinTextPro-ExtraThin';
//     src:  url('#{$aws_url}fonts/PFDinTextPro-ExtraThin.ttf') format("truetype");
// }

// @font-face {
//     font-family: 'PDFinTextPro-ExtraThinItalic';
//     src:  url('#{$aws_url}fonts/PFDinTextPro-ExtraThinItalic.ttf') format("truetype");
// }

// @font-face {
//     font-family: 'PDFinTextPro-Italic';
//     src:  url('#{$aws_url}fonts/PFDinTextPro-Italic.ttf') format("truetype");
// }

// @font-face {
//     font-family: 'PDFinTextPro-MediumItalic';
//     src:  url('#{$aws_url}fonts/PFDinTextPro-MediumItalic.ttf') format("truetype");
// }

// @font-face {
//     font-family: 'PDFinTextPro-Thin';
//     src:  url('#{$aws_url}fonts/PFDinTextPro-Thin.ttf') format("truetype");
// }

// @font-face {
//     font-family: 'PDFinTextPro-ThinItalic';
//     src:  url('#{$aws_url}fonts/PFDinTextPro-ThinItalic.ttf') format("truetype");
// }

// @font-face {
//     font-family: '8-BIT-WONDER';
//     src:  url('#{$aws_url}fonts/8-BIT WONDER.ttf') format("truetype");
// }