@font-face {
    font-family: 'PDFinTextPro-Bold';
    src:  url('/fonts/PFDinTextPro-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-BoldItalic';
    src:  url('/fonts/PFDinTextPro-BoldItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-ExtraBlack';
    src:  url('/fonts/PFDinTextPro-ExtraBlack.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-ExtraBlackItalic';
    src:  url('/fonts/PFDinTextPro-ExtraBlackItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-ExtraThin';
    src:  url('/fonts/PFDinTextPro-ExtraThin.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-ExtraThinItalic';
    src:  url('/fonts/PFDinTextPro-ExtraThinItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-Italic';
    src:  url('/fonts/PFDinTextPro-Italic.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-Light';
    src:  url('/fonts/PFDinTextPro-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-LightItalic';
    src:  url('/fonts/PFDinTextPro-LightItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-Medium';
    src:  url('/fonts/PFDinTextPro-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-MediumItalic';
    src:  url('/fonts/PFDinTextPro-MediumItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-Regular';
    src:  url('/fonts/PFDinTextPro-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-Thin';
    src:  url('/fonts/PFDinTextPro-Thin.ttf') format('ttf');
}

@font-face {
    font-family: 'PDFinTextPro-ThinItalic';
    src:  url('/fonts/PFDinTextPro-ThinItalic.ttf') format('ttf');
}