body {
    font-family: $font-family-regular;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include r($sm-tablet) {
        max-width: 540px;
    }

    @include r($md-tablet) {
        max-width: 720px;
    }

    @include r($lg-tablet) {
        max-width: 960px;
    }

    @include r($md-desktop) {
        max-width: $sm-desktop;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}


.summit {
    &__header {
        margin-bottom: 35px;
    }

    &__headline {
        font-size: 2.25rem;
        text-transform: capitalize;
        font-weight: bold;
        font-family: $font-family-medium;
    }

    &__desc {
        font-size: 18px;
        margin-top: 10px;
    }

    @include r($md-tablet) {
        &__header {
            margin-bottom: 50px;
        }
    }
}