body {
    font-family: $font-family-regular;
    margin: 0;
    letter-spacing: 0.5px;
}

footer#layout-footer {
    min-height: 100px;
    line-height: 29px;
    padding-top: 35px;
    background: $color-white;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.logo {
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
    position: absolute;
    z-index: 1;

    @include r($sm-tablet) {
        width: 50px;
        height: 50px;
        top: 20px;
        left: 50px;
    }

    @include r($md-tablet) {
        width: 70px;
        height: 70px;
        top: 40px;
        left: 120px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    &--p-y {
        padding-top: 50px;
        padding-bottom: 35px;
    }

    @include r($sm-tablet) {
        max-width: 540px;
    }

    @include r($md-tablet) {
        max-width: 720px;

        &--p-y {
            padding-top: 100px;
            padding-bottom: 85px;
        }
    }

    @include r($lg-tablet) {
        max-width: 960px;
    }

    @include r($md-desktop) {
        max-width: $sm-desktop;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}


.summit {
    &__header {
        margin-bottom: 35px;
    }

    &__headline {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: bold;
        font-family: $font-family-medium;
        letter-spacing: 1.5px;
    }

    &__desc {
        font-size: 18px;
        margin-top: 10px;
    }

    @include r($md-tablet) {
        &__header {
            margin-bottom: 50px;
        }

        &__headline {
            font-size: 2.25rem;
        }
    }
}

.text {
    &--center {
        text-align: center;
    }

    &--error,
    &--success {
        font-size: 18px;
        position: absolute;
        display: block;
        color: $color-white;
        border-radius: 5px;
        padding: 20px;
        animation-name: text-noti-show;
        animation-duration: 300ms;
        animation-timing-function: ease-in;
    }

    &--error {
        background-color: #868585ff;
    }

    &--success {
        background-color: $color-green-success;
    }
}

@keyframes text-noti-show {
    from { 
        bottom: -65px;
        opacity: 0;
    }
    to { 
        bottom: -75px;
        opacity: 1;
    }
}