$sm-mobile: 240px;
$md-mobile: 375px;
$lg-mobile: 480px;
$sm-tablet: 600px;
$md-tablet: 768px;
$lg-tablet: 1024px;
$sm-desktop: 1140px;
$md-desktop: 1280px;
$lg-desktop: 1500px;

@mixin r( $point ) {
	@if $point == $sm-mobile {
		@media ( min-width: 1 + $sm-mobile ) {
			@content;
		}
	}
	@if $point == $md-mobile {
		@media ( min-width: 1 + $md-mobile ) {
			@content;
		}
	}
	@if $point == $lg-mobile {
		@media ( min-width: 1 + $lg-mobile ) {
			@content;
		}
	}
	@if $point == $sm-tablet {
		@media ( min-width: 1 + $sm-tablet ) {
			@content;
		}
	}
	@if $point == $md-tablet {
		@media ( min-width: 1 + $md-tablet ) {
			@content;
		}
	}
	@if $point == $lg-tablet {
		@media ( min-width: 1 + $lg-tablet ) {
			@content;
		}
	}
	@if $point == $sm-desktop {
		@media ( min-width: 1 + $sm-desktop ) {
			@content;
		}
	}
	@if $point == $md-desktop {
		@media ( min-width: 1 + $md-desktop ) {
			@content;
		}
	}
	@if $point == $lg-desktop {
		@media ( min-width: 1 + $lg-desktop ) {
			@content;
		}
	}
}

.d-mobile-none {
  display: none !important;

  @include r($md-tablet) {
    display: inherit !important;
  }
}

.d-mobile-only {
  display: inherit !important;

  @include r($md-tablet) {
    display: none !important;
  }
}