$aws_url: 'https://nfq-summit.s3-ap-southeast-1.amazonaws.com/summit-2021/';
$aws_url_prod: '/';

$color-white: #FFF;
$color-black: #000;
$color-grey-c4: #C4C4C4;
$color-grey-ee: #EEEEEE;
$color-orange: #FF6B00;

$color-red-error: #dc3545;
$color-green-success: #28a745;

$font-family-headline: 'PDFinTextPro-Bold', sans-serif;
$font-family-extra-black: 'PDFinTextPro-ExtraBlack', sans-serif;
$font-family-light: 'PDFinTextPro-Light', sans-serif;
$font-family-light-italic: 'PDFinTextPro-LightItalic', sans-serif;
$font-family-medium: 'PDFinTextPro-Medium', sans-serif;
$font-family-regular: 'PDFinTextPro-Regular', sans-serif;

$text-shadow-headline: 0px 4px 5px rgba(0, 0, 0, 0.7);