$color-white: #FFF;
$color-black: #000;
$color-grey-c4: #C4C4C4;

$font-family-headline: 'PDFinTextPro-Bold', sans-serif;
$font-family-regular: 'PDFinTextPro-Regular', sans-serif;

$text-shadow-headline: 0px 4px 5px rgba(0, 0, 0, 0.7);