.email-subscribe {
    &--bg-orange {
        position: relative;
        background-color: $color-orange;
    }

    .summit__header {
        color: $color-white;
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        z-index: 1;
        position: relative;
    }

    &__form {
        position: relative;
        width: 100%;

        .text--error,
        .text--success {
            left: 0;
            bottom: -75px;
            width: 100%;
        }
    }

    &__icon-email {
        position: absolute;
        top: 16px;
        left: 15px;
    }

    &__icon-loading {
        position: absolute;
        top: 12px;
        right: 10px;
        width: 40px;
    }

    &__input {
        padding: 15px 45px;
        margin: auto;
        width: 100%;
        font-size: 18px;
        border: 1px solid $color-grey-ee;
        border-radius: 5px;
        font-family: $font-family-light;
        letter-spacing: 1px;
    }

    &__btn {
        background: linear-gradient(0deg, rgba(189, 189, 189, 0.3), rgba(189, 189, 189, 0.3)), #333232;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        color: $color-white;
        padding: 18px 35px;
        text-transform: uppercase;
        font-family: $font-family-medium;
        font-weight: bold;
        border: 0;
        letter-spacing: 1px;
        line-height: 1;
        font-size: 1rem;
        margin-left: 0;
        margin-top: 20px;
        cursor: pointer;
        animation-duration: 300ms;
        animation-timing-function: ease-in;
    }

    &__btn.showing-noti {
        margin-top: 90px;
        animation-name: showing-noti;
    }

    &__input,
    &__btn {
        &:focus, &:hover, &:focus-within {
            outline: none !important;
        }
    }

    &__illustration {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    @include r($lg-mobile) {
        &__form {
            width: auto;

            .text--error,
            .text--success {
                width: calc(100% - 20px);
                left: 10px;
            }
        }
        
        &__input {
            margin: 0 10px;
            width: 400px;
        }
        
        &__icon-email {
            left: 22px;
        }
    }

    @include r($md-tablet) {
        &__btn {
            margin-top: 0;
            margin-left: 15px;
        }
    }
}

@keyframes showing-noti {
    from { margin-top: 20px; }
    to { margin-top: 90px; }
}