.last-year-moments {
    &--bg-orange {
        background-color: $color-orange;
    }

    &__main {
        .photos {
            &--left,
            &--right {
                flex: 0 0 100%;
                max-width: 100%;
            }

            &--right {
                .photos-item {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 15px;
                }
            }

            &-item {
                margin-bottom: 15px;
                img {
                    border-radius: 10px;
                    width: 100%;
                }
            }
        }

        .video {
            &-item {
                width: 100%;
                
                iframe {
                    height: 400px;
                    border-radius: 10px;
                }
            }
        }
    }

    @include r($md-tablet) {
        &__main {
            .photos {
                &--left,
                &--right {
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                &--left {
                    margin-bottom: 0;
                }

                &--right {
                    .photos-item {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }

                &-item {
                    img {
                        border-radius: 20px;
                    }   
                }
            }

            .video {
                &-item {
                    iframe {
                        height: 500px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}