.summit-points {
    padding-top: 50px;
    padding-bottom: 35px;

    &__main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__item.item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 15px;

        .item {
            &__header {
                padding-right: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
            }

            &__id {
                margin-right: 15px;
                font-size: 4rem;
                color: $color-grey-c4;
                line-height: 1;
                font-weight: bold;
                font-family: $font-family-extra-black;
            }

            &__title {
                font-weight: bold;
                font-size: 18px;
                font-family: $font-family-medium;
            }

            &__desc {
                padding-right: 25px;
                margin-top: 5px;
                font-size: 18px;
            }
        }
    }

    @include r($md-tablet) {
        padding-top: 100px;
        padding-bottom: 85px;

        &__item.item {
            flex-basis: 50%;
            .item {
                &__id {
                    font-size: 5rem;
                }

                &__title {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }

    @include r($lg-tablet) {
        &__item.item {
            flex-basis: 33.3%;
        }
    }
}